:root {
  --font-size-base: clamp(18px, 2.75vw, 20px);
  --font-family-base: 'Roboto', sans-serif;
  --line-height-base: 1.5;

  --font-weight-normal: 400;
  --font-weight-bold: 700;

  --font-family-headings: var(--font-family-base);
}
