html {
  font-size: var(--font-size-base);
}

body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  line-height: var(--line-height-base);
  font-weight: var(--font-weight-normal);
  color: var(--color-text);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: var(--font-family-base);
  font-display: optional;
}

p {
  hanging-punctuation: first;
  margin: 0 0 var(--spacing-m);
}

h1,
h2,
h3,
h4,
h5 {
  padding: 0;
  font-family: var(--font-family-headings);
  font-weight: var(--font-weight-headings);
}

h1,
h2,
h3 {
  line-height: var(--line-height-headings);
}

h1 {
  margin: 0 0 var(--spacing-xs);
  font-size: var(--font-size-xxxl);
}

h2 {
  margin: 0 0 var(--spacing-xs);
  font-size: var(--font-size-xxl);
}

h3 {
  margin: 0 0 var(--spacing-xs);
  font-size: var(--font-size-xl);
}

h4,
h5 {
  font-size: var(--font-size-m);
  margin-bottom: 0;
}

address {
  font-style: normal;
}

cite {
  font-style: normal;
}

blockquote {
  margin: 0;
}
