:root {
  --color-black: #000;
  --color-white: #fff;
  --color-gray-darker: #333;
  --color-gray-dark: #424242;
  --color-gray: #999;
  --color-gray-light: #eee;
  --color-gray-lighter: #f9f9f9;
  --color-gray-lighterest: #f1f4f5;
  --color-text: #424242;
  --color-primary: #98012e;
  --color-primary-dark: #7f0126;
  --color-background: var(--color-gray-lighter);
  --color-background-alternative: #f6f1ec;

  --color-green: #d4e4a2;
  --color-green-dark: #85a60b;
  --color-blue: #b2dee6;
  --color-blue-dark: #0092a7;
  --color-red: #f1bfca;
  --color-red-dark: #da3e71;
  --color-purple: #d1c7ea;
  --color-purple-dark: #6d49b7;
}
