:root {
  --font-size-base: 16px;
  --font-family-base: "Open Sans", "Helvetica", sans-serif;
  --font-family-headings: var(--font-family-base);
  --line-height-base: 1.5;
  --line-height-headings: 1.1;
  --font-weight-light: 400;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --font-weight-headings: 500;
  --font-weight-buttons: 600;
  --font-size-xs: 0.8rem;
  --font-size-sm: 0.9rem;
  --font-size-m: 1rem;
  --font-size-l: 1.2rem;
  --font-size-xl: 1.4rem;
  --font-size-xxl: 1.8rem;
  --font-size-xxxl: 2.2rem;
}
