@define-mixin link {
  color: currentColor;
  text-decoration: underline;
  text-decoration-color: var(--color-primary);
  text-decoration-thickness: 2px;
  text-decoration-style: solid;
  text-underline-offset: 0.25em;
}

@define-mixin link-hover {
  text-decoration-thickness: 3px;
}

